# Ignore everything in root
/*

# Unignore Source
!/alpha/
!/tests/
!/.github/

# Packaging Files
!/alpha.spec
!/installer.iss

# Re-ignore artifacts inside
alpha/__pycache__/
alpha/resources/__pycache__/
tests/__pycache__/

# Unignore Documentation
!/README.md
!/.gitignore
